body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
}

#color-box {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  background-color: #3498db; /* Couleur par défaut */
  transition: background-color 0.3s ease;
}

#change-color-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #2ecc71;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#change-color-btn:hover {
  background-color: #27ae60;
}
